.comments-container form 
{
    left: 24px;
    bottom: 24px;
    width: calc(100% - 48px);
}

.comments-container form input
{
    flex: 4;
}

.comments-container form button
{
    flex: 1;
}

.comments-wrapper
{
    height: 230px;
}